body {
    background-color: #333;
    color: #fff;
}

.swagger-ui .topbar {
    background-color: #444;
}

.swagger-ui .info {
    background-color: #444;
    color: #fff;
}

/* Добавьте другие стили для темной темы по необходимости */